{% extends "base.html" %} {% block head %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename='css/style.css') }}"
/>
{% endblock %} {% block title %}Подать заявку{% endblock %} {% block body %}
<p><a href="/">Назад</a></p>
<select id="dropdown-files">
</select>
<button id="start-test">Начать тестирование</button>

<div class="test-block" id="test-block" hidden="true">
  <h2 id="question-field">Готовы начать?</h2>
  <p><input placeholder="Введите ответ" id="answ-field" hidden="true" /></p>
  <span class="error" id="error"></span><br />
  <button id="send-answ">Начать</button>
</div>

<!-- <script src="{{ url_for('static', filename='js/testRunner.js') }}"></script> -->
<script
  type="module"
  src="{{ url_for('static', filename='js/testStarter.js') }}"
></script>
{% endblock %}
