{% extends "base.html" %} 

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %} 

{% block title %}Подать заявку{% endblock %} 

{% block body %}
<p><a href="/">Назад</a></p>
<!-- <form action="/submitRequest" enctype="multipart/form-data" method='post'>
<p>Прикрепите резюме</p>
<input type='file' name='file'><br>
<button type='submit'>Отправить</button>
</form> -->

<div class="test-block" id="test-block">
    <h2 id="question-field">Question</h2>
    <p><input placeholder="Введите ответ" id="answ-field"></p>
    <p><button id="send-answ">Ответить</button></p>
</div>

<script src="{{ url_for('static', filename='js/tester.js') }}"></script>
{% endblock %}
